<% unless current_user %>
<%= link_to "Sign in", user_session_path%>
<br>
<%= link_to "Sign Up", new_user_registration_path%>

<%else %>
	<div class="jumbotron">
	  <div class="container">
	    <h3 class="display-6">Welcome <%= current_user.email %></h3>
	    Your account balance is <%= current_user ? @account.current_balance : 0%>
	  </div>
	  <br>
		<div class="table-responsive">
		  <table class="table table-striped table-sm">
		    <thead>
		      <tr>
		        <th>Transaction type</th>
		        <th>Amount ($)</th>
		        <th>Account</th>
		        <th>Transaction Number</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<% @transactions.each do |l|  %>
		      <tr>
		        <td><%= l.transaction_type%></td>
		        <td><%= l.amount%></td>
		        <td><%= account_number(l.account_id)%></td>
		        <td><%= l.transaction_number%></td>
		      </tr>
		      <% end if @transactions.present?%>
		    </tbody>
		  </table>
		</div>
	</div>
<%end %>